<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="optimization" type="Optimization.Configuration.OptimizationConfigSection, Optimization.Framework" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EquusModel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--add name="EquusModel.Properties.Settings.EquusModel_Models_ModelContextConnectionString" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=EquusModel.Models.ModelContext;Integrated Security=True" providerName="System.Data.SqlClient" /-->
    <add name="FoodModel" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;port=3300;database=FoodModel;uid=root;password=1234" />
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

<optimization xmlns="com.optimizationzen.optimization.framework">
    <solvers>
      <solver name="GLPK" path="Reference Assemblies\GLPK\x64" />
    </solvers>
  </optimization>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Optimization.Framework" publicKeyToken="41b74c8b864fd6b1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.3.1236.0" newVersion="0.3.1236.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Gurobi56.NET" publicKeyToken="21e2c4b1860157bc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <EquusModel.Properties.Settings>
      <setting name="SolveTime" serializeAs="String">
        <value>3600</value>
      </setting>
      <setting name="Gap" serializeAs="String">
        <value>0.001</value>
      </setting>
    </EquusModel.Properties.Settings>
  </userSettings>
</configuration>