<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.0" targetFramework="net45" />
  <package id="Optimization.Framework" version="0.3.1236.0" targetFramework="net45" />
  <package id="Optimization.Framework.Sample" version="1.0.5" targetFramework="net45" />
  <package id="Optimization.Solver.GLPK" version="0.3.019.0" targetFramework="net45" />
  <package id="Optimization.Solver.Xpress" version="0.1.009.0" targetFramework="net45" />
</packages>